#parti_fixe{
    margin-top: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
}
#div_cache{
    margin-top: 0;
    height: 120px;
}
header{
    width: 100%;
    background-color: #F3EA10 ;
    height: 50px;
}

header ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
header li{
    list-style-type: none;
    float: left;
    padding-top: 0px;
}